.top {
    background-color: rgb(255,255,255);
    width: 100%;
    display: flex;
  }
  .logo_image {
    padding: 5px;
    width: 100%;
    box-sizing: border-box; /*рассчет ширины элемента*/
    justify-content: start;
  }
/* Fancy Button */
.fancy-button {
  background-color: white;
  color: #916dd5;
  display: flex;
  
}

.fancy-button i.material-icons {
  color: #916dd5;
  padding-right: 5px;
  justify-content: end;

}
