<div class="slideshow-container">


    <div class="mySlides fade">
      <div class="numbertext">1 / 4</div>
      <img src="../../assets/slide2.jpg" style="width:100%">
      <div class="text">Уже доступно 391р -10%</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">2 / 4</div>
        <img src="../../assets/slide4.jpg" style="width:100%">
        <div  class="text">Уже доступно 2985р -15%</div>
      </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 4</div>
      <img src="../../assets/slide3.jpg" style="width:100%">
      <div  class="text">Уже доступно 1899р -5%</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">4 / 4</div>
      <img src="../../assets/slide1.jpg" style="width:100%">
      <div class="text">Уже доступно 1359р -20%</div>
    </div>
  
    <br>
  
    <div style="text-align:center">
      <span class="dot" click="currentSlide(1)"></span>
      <span class="dot" click="currentSlide(2)"></span>
      <span class="dot" click="currentSlide(3)"></span>
      <span class="dot" click="currentSlide(4)"></span>
    </div>
  </div>
  