<div class="footer_div">
    <nav class="footer_nav">
      <ul>
        <li><a href="" class="footer_nav-link">Каталог игр</a></li>
        <li><a href="" class="footer_nav-link">Испытай удачу</a></li>
        <li><a href="" class="footer_nav-link">Топ продаж</a></li>
        <li><a href="" class="footer_nav-link">Новинки</a></li>
        <li><a href="" class="footer_nav-link">Предзаказы</a></li>
        <li><a href="" class="footer_nav-link">Скидки</a></li>
        <li><a href="" class="footer_nav-link">Рекомендаций</a></li>
      </ul>
    </nav>
    <hr class="line" >
  
    <div class="info">
      <div class="logo">
        <img class="footer_logo" src="assets/logo-footer.png" alt="">
        <p class="main_word">Все продаваемые ключи закупаются у официальных дистрибьюторов и издателей. В том числе у 1C-СофтКлаб, Бука, Новый Диск и Enaza.</p>
      </div>
      <div><a href="" class="footer_word">Смотрите обзор игр <br> на Youtube-канале</a></div>
      <div><img class="youtube_logo" src="assets/logo-youtube.png" alt=""></div>
    </div>
   
    <img  src="assets/logo-pay.png" alt="" class="payment">

  </div>
  