.main_image{
    text-align: center;
    margin-top: 1%;
    width: 370px;
    height: 460px;
    margin-left: 5%;
}
#product_img{
    padding-top: 10px;
    width: 100%;
    height: 100%;

}
.product_name{
    margin-top: -37%;
    margin-left: 4.8%;
    position: absolute;
   font-size: 50px;
   color: black;
   font-weight: 500;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product_description{
    margin-left: 35%;
    height: 60%;

}

#btn_back{
    padding-left: 10px;
    width: 4%;
    height: 3%;
    margin-top: 1%;
    background-color:#8b71cf ;
    border-radius: 5px;
}
#word_back{

    color: white;
    text-decoration: none;
}
#btn_buy{
    position: relative;
    margin-left: 35%;
    background-color: #f7c745;
    color: black;
    font-size: 20px;
    padding-left: 15px;
    width: 5%;
    border-radius: 20px;

}
.product_block{
    margin-left: 35%;
    margin-top: -33%;

}
.product_details{
    color: black;
}
.product_block_2{
  margin-top: -6.7%;
    margin-left: 50%;
    color: black;
}
.gabestore_word{
    width: 60%;
    margin-left: 33.5%;
}
#gabestore_img{
    width: 100%;
}
#word_screen{
color: black;
font-size: 25px;
margin-left: 35%;
}
#screen1{
    margin-left: 35%;
}
#screen2{
    margin-top: -12.36%;
    margin-left: 56.6%;
}
#screen3{
    margin-top: -12.36%;
    margin-left: 78.2%;
}
#head2 {
    font-family: 'Teko', serif;
    text-align: center;
    margin-top:27px;
    font-size: 32px;
    margin-left: -85%;
  }
  #send a:hover{
    color: red;
  }
  #write {
    width: 85%;
    height: 12%;
    font-size: 16px;
    margin-left: 1cm;
  }
  .review{
    margin-left: 0.7cm;
    margin-right: 0.3cm;
    margin-bottom: 4px;
  
  }
  .menu {
    position: absolute;
    width: 85px;
    height: 40px;
    text-align: center;
    color: black;
    border-radius: 7px;
  }
  
  .menu a {
    color: black;
    font-size: 23px;
    text-align: center;
  }
  
  .menu a:hover {
    color: white;
  }
  #image{
    width: 100%;
  }
  
  table {
    width: 350px;
  }
  tr {
    width: 300px;
  }
  #second {
    margin-left: 25px;
  }
  
  textarea {
  
    border-radius: 4%;
    border: 2px solid black;
    margin-left: 10px;
    max-width: 400px;
    
  }
  
  textarea:focus {
    border: 2px solid yellow;
  }
  
  #send {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #222;
    background-color: #222;
    padding: 8px 20px;
    outline: none;
    color: white;
    border-radius: 16px;
    transition: 0.25s;
    font-size: 16px;
    cursor: pointer;
    margin-left: 3%;
  }
  
  #send:hover {
    background: black;
  }
  
  .content {
    margin-left: 20px;
  }